.container-5{
    margin: 0 5% 8% 5%;
    background: #f3f4f6;
    display: flex;
    
}

.head-content-5{
    padding: 25% 10% 4% 20%;
    width: 150%;
    font-weight: bold;
    font-size: 210%;
    line-height: 150%;
    color: #2c1500;
}

.button-content-5{
    margin-left: 21%;
    width: 40%;
    height: 15%;
    font-weight: bold;
    font-size: 110%;
    text-align: center;
    color: #fafefe;
    background: #156963;
    border: #156963;
    box-sizing: border-box;
}

.content-5-right{
    width: 50%;
    height: 100%;
    margin-left: 40%;
}
